
CREATE PROCEDURE  [dbo].[OHRC_SP_MOVIMIENTOS_ACUMULADOS]
		@piCia INT ,
		@pvTipoNom VARCHAR (200),
		@pvTipoNomProceso VARCHAR(200),
		@piNumPeriodo VARCHAR(500),
		@piPeriodoAnual VARCHAR(04)
		AS 

BEGIN 
		/*      
		______________________________________________________________________________________      
		Nombre de Objeto:	OHRC_SP_MOVIMIENTOS_ACUMULADOS
		Tipo de Objeto:		StoreProcedure      
		Autor:				SBP   
		Objetivo:			Listado de movimientos y/o acumulados
		Fecha de Creación:  20250320
		Parametros: 
		@piCia INT ,
		@pvTipoNom VARCHAR (02),
		@pvTipoProceso VARCHAR(01),
		@piResult INT OUTPUT, 
		@pvMsg VARCHAR(300) 

		DECLARE @liResult INT, @lsMsg VARCHAR(300)
		SET NOCOUNT ON;

		Forma de Ejecución:
	
			EXEC OHRC_SP_MOVIMIENTOS_ACUMULADOS '1','NQ','NQ','14',2025


		Modificaciones:      
		Fecha			Desarrollador	Notas del cambio      
		===========     =============	=================================      
		20250518    	SBP      		Desarrollo inicial      

		_______________________________________________________________________________________      
		*/ 
		SET NOCOUNT ON
		SET ANSI_WARNINGS OFF
		-------------------------------------------------------
		-- Declaración de variables y tablas temporales
		------------------------------------------------------- 
		DECLARE	@i INT=0, @j INT=0,
		@k INT=0, @m INT=0, 
		@n INT=0,
		@lvTemp VARCHAR(MAX) = '',
		@lvCol VARCHAR(MAX) = '',@lvTemp1 VARCHAR(MAX) = '',
		@lvSQL VARCHAR(MAX) = '',@lvReg VARCHAR(MAX) = '',
		@lvTot VARCHAR(MAX) = '',@lvTotAdicional VARCHAR(MAX) = '',
		@lvColAdicional  VARCHAR(MAX) = '', @lvRegAdicional VARCHAR(MAX) = '',
		@lvTotAdicional1 VARCHAR(MAX) = '',
		@lvColAdicional1  VARCHAR(MAX) = '', @lvRegAdicional1 VARCHAR(MAX) = '',
		@lvColAdicional2  VARCHAR(MAX) = '', @lvRegAdicional2 VARCHAR(MAX) = '',
		-----------------------------------------------------------------------------------------------------
		@lvTempd VARCHAR(MAX) = '',
		@lvCold VARCHAR(MAX) = '',@lvTemp1d VARCHAR(MAX) = '',
		@lvRegd VARCHAR(MAX) = '' , @lvTotd VARCHAR(MAX) = '',
		@lvTotde VARCHAR(MAX) = '' , @lvTotp VARCHAR(MAX) = '',
		@lvTote VARCHAR(MAX) = '' ,   @lvTotes VARCHAR(MAX) = '',
		@lvsqlSumas VARCHAR(MAX) = '',@lvsqlSumasdet1 VARCHAR(MAX) = '';
              

		SELECT *
		INTO #tblAnEmpMovtos
		FROM an_acum_per a 
		WHERE (@pvTipoNomProceso = '' OR CHARINDEX(',' + CAST(a.tipo_nom AS VARCHAR) + ',', ',' + @pvTipoNomProceso + ',') > 0)
	    AND (@piNumPeriodo = '' OR CHARINDEX(',' + CAST(a.num_periodo AS VARCHAR) + ',', ',' + @piNumPeriodo + ',') > 0)
		AND periodo_anual = @piPeriodoAnual


		SELECT * 
		INTO #tblAnEmp
		FROM an_emp a
		WHERE  (@pvTipoNom = '' OR CHARINDEX(',' + CAST(a.tipo_nom AS VARCHAR) + ',', ',' + @pvTipoNom + ',') > 0)

		--select * from #tblAnEmpMovtos
		-----------------------------------------------------------------------------------------------------------------------------
		-- Crear tabla base 
		CREATE TABLE #tblBase (
			num_emp VARCHAR(06),
			nomp_emp VARCHAR(60)
		)
		CREATE INDEX idx_#tblBase ON  #tblBase(num_emp)


	    CREATE TABLE #tblBaseDet1 (
			ccosto VARCHAR(10),
			nom_ccosto VARCHAR(50)
		)
		CREATE INDEX idx_#tblBaseDet1 ON  #tblBaseDet1(ccosto)

		CREATE TABLE #tblPrc (
			num_emp VARCHAR(06),
			nomp_emp VARCHAR(60),
			clv_dip VARCHAR(10),
			nom_dip VARCHAR(40),
			imp DECIMAL(12,2),
			dato DECIMAL(12,2),
			perc_ded VARCHAR(02),
			sec_calc INT
		)
		CREATE INDEX idx_#tblPrc ON  #tblPrc(num_emp,clv_dip)

		CREATE TABLE #tblPrcdet1 (
			ccosto VARCHAR(10),
			nom_ccosto VARCHAR(50),
			clv_dip VARCHAR(10),
			nom_dip VARCHAR(40),
			imp DECIMAL(12,2),
			dato DECIMAL(12,2),
			perc_ded VARCHAR(02),
			sec_calc INT
		)
		CREATE INDEX idx_#tblPrcdet1 ON  #tblPrcdet1(ccosto,clv_dip)
	
		---- Obtener la información requerida
		INSERT #tblPrc
			SELECT 
			a.num_emp,
			c.ap_pater+' '+c.ap_mater+' '+c.nomp_emp AS nomp_emp,
			a.clv_dip,
			nom_dip, 
			a.imp , 
			a.dato, 
			perc_ded,
			b.sec_calc
			FROM #tblAnEmpMovtos a 
		INNER JOIN (
		SELECT clv_dip, MAX(nom_dip) AS nom_dip, MAX(perc_ded) AS perc_ded ,sec_calc
		FROM an_dips 
		WHERE tipo_nom = '@'
		GROUP BY clv_dip , sec_calc
		) b ON a.clv_dip = b.clv_dip
		INNER JOIN #tblAnEmp c
		ON a.num_emp = c.num_emp


	   INSERT #tblPrcdet1
	   SELECT 
			c.ccosto,
			nom_ccosto AS nomp_emp,
			a.clv_dip,
			nom_dip, 
			a.imp , 
			a.dato, 
			perc_ded,
			b.sec_calc
			FROM #tblAnEmpMovtos a 
		INNER JOIN (
		SELECT clv_dip, MAX(nom_dip) AS nom_dip, MAX(perc_ded) AS perc_ded ,sec_calc
		FROM an_dips 
		WHERE tipo_nom = '@'
		GROUP BY clv_dip , sec_calc
		) b ON a.clv_dip = b.clv_dip 
		INNER JOIN #tblAnEmp c
		ON a.num_emp = c.num_emp
		INNER JOIN an_tab_ccosto d
		ON c.ccosto = d.ccosto

		
		--SELECT * FROM #tblPrc WHERE  num_Emp  = '024736' 

		-- Obtener DIPS NO repetidos a procesar (los especificados)
		SELECT ROW_NUMBER() OVER (ORDER BY sec_calc ASC) consec, aa.clv_dip, aa.nom_dip ,aa.sec_calc
		INTO #tblDipsPrc
		FROM 
		(
			SELECT DISTINCT clv_dip, nom_dip ,sec_calc
			FROM #tblPrc
			WHERE PERC_DED = 'P'
		) aa 

		
		-- Obtener DIPS adicionales (los no especificados)
		SELECT ROW_NUMBER() OVER (ORDER BY sec_calc ASC) consec, bb.clv_dip, bb.nom_dip , bb.sec_calc
		INTO #tblDipsAdicionales
		FROM 
		(
			SELECT DISTINCT clv_dip, nom_dip ,sec_calc
			FROM #tblPrc
			WHERE PERC_DED = 'D'
		) bb

		
		SELECT ROW_NUMBER() OVER (ORDER BY sec_calc ASC) consec, dd.clv_dip, dd.nom_dip,dd.sec_calc
		INTO #tblDipsAdicionales2
		FROM 
		(
			SELECT DISTINCT clv_dip, nom_dip ,sec_calc
			FROM #tblPrc
			WHERE PERC_DED = 'X'
			AND clv_dip = 'NETO'
		) dd


		SELECT @j = COUNT(*) FROM #tblDipsPrc
		SELECT @k = COUNT(*) FROM #tblDipsAdicionales
		SELECT @n = COUNT(*) FROM #tblDipsAdicionales2

		-- Resetear variables
		SET @i = 0
		SET @lvCol = ''
		SET @lvReg = ''
		SET @lvTot = ''
		-----------------------------
		SET @lvCold = ''
		SET @lvRegd = ''
		SET @lvTotd = ''

		IF @j > 0 AND EXISTS (SELECT 1 FROM #tblDipsPrc)
		BEGIN
		-- Preparar variables dinámicas para el reporte (DIPs principales)
		WHILE @i < @j
		BEGIN
			SET @i = @i + 1
			-- Obtener DIP a procesar
			SELECT @lvTemp = clv_dip, @lvTemp1 = nom_dip ,@lvTempd = clv_dip, @lvTemp1d = nom_dip
			FROM #tblDipsPrc
			WHERE consec = @i

			-- Obtener Columnas (usando QUOTENAME para manejar caracteres especiales)
			SELECT @lvCol = @lvCol +
				QUOTENAME(@lvTemp + '-' + @lvTemp1 + '-IMP') + ' DECIMAL(12,2), '

			-- Obtener Registros (usando QUOTENAME para manejar caracteres especiales)
			SELECT @lvReg = @lvReg + 
			'ISNULL(SUM(CASE WHEN clv_dip = ''' + @lvTemp + ''' THEN imp END), 0) AS ' + QUOTENAME(@lvTemp + '-' + @lvTemp1 + '-IMP') + ','

			 --Obtener Totales (usando QUOTENAME para manejar caracteres especiales)
			SELECT @lvTot = @lvTot + QUOTENAME(@lvTempd + '-' + @lvTemp1d + '-DATO') + ' + ' 
			SELECT @lvTotd = @lvTotd + QUOTENAME(@lvTemp + '-' + @lvTemp1 + '-IMP') + ' + ' 
		END

		-- Eliminar el último caracter de las variables de trabajo
		IF LEN(@lvCol) > 0 SET @lvCol = SUBSTRING(@lvCol,1,LEN(@lvCol)-1)
		IF LEN(@lvReg) > 0 SET @lvReg = SUBSTRING(@lvReg,1,LEN(@lvReg)-1)
		IF LEN(@lvTot) > 0 SET @lvTot = SUBSTRING(@lvTot,1,LEN(@lvTot)-1)
		--------------------------------------------------------------------
		IF LEN(@lvCold) > 0 SET @lvCold = SUBSTRING(@lvCold,1,LEN(@lvCold)-1)
		IF LEN(@lvRegd) > 0 SET @lvRegd = SUBSTRING(@lvRegd,1,LEN(@lvRegd)-1)
		IF LEN(@lvTotd) > 0 SET @lvTotd = SUBSTRING(@lvTotd,1,LEN(@lvTotd)-1)
		---------------------------------------------------------------------

		-- Modificar Tabla de trabajo con campos dinámicos (principales y datos adicionales)
		IF LEN(@lvCol) > 0 OR LEN(@lvCold) > 0 
		BEGIN
			-- Construye la sentencia ALTER TABLE con todas las columnas
			SET @lvSQL = 'ALTER TABLE #tblBase ADD ' 
    
			-- Agrega @lvCol si tiene contenido
			IF LEN(@lvCol) > 0 
				SET @lvSQL = @lvSQL + @lvCol
    
			-- Agrega @lvCold si tiene contenido (con coma si ya hay columnas)
			IF LEN(@lvCold) > 0 
			BEGIN
				IF LEN(@lvCol) > 0 
					SET @lvSQL = @lvSQL + ', ' -- Agrega coma si ya hay columnas
				SET @lvSQL = @lvSQL + @lvCold
			END
    
			-- Ejecuta el ALTER TABLE
			EXEC(@lvSQL)
		END

		-- Obtener registros (solo principales por ahora)
		SET @lvSQL = ' INSERT INTO #tblBase
			SELECT num_emp, nomp_emp, ' + 
			@lvReg +
			'
			FROM #tblPrc 
			GROUP BY num_emp, nomp_emp'

		EXEC(@lvSQL)



		-- Agregar y calcular el total de percepciones (solo para los DIPs principales)
		ALTER TABLE #tblBase ADD TOTAL_IMP_PERCEPCIONES DECIMAL(12,2) 
		IF LEN(@lvTotd) > 0
		BEGIN
			SET @lvSQL = 'UPDATE #tblBase SET TOTAL_IMP_PERCEPCIONES = ' + @lvTotd
			EXEC(@lvSQL)
		END
		END
		ELSE
		BEGIN
			-- Si no hay DIPs principales, insertar datos básicos sin columnas dinámicas
			SET @lvSQL = ' INSERT INTO #tblBase
				SELECT num_emp, nomp_emp
				FROM #tblPrc 
				GROUP BY num_emp, nomp_emp'
			EXEC(@lvSQL)
    
			-- Agregar las columnas de totales aunque estén en cero
			ALTER TABLE #tblBase ADD TOTAL_IMP_PERCEPCIONES DECIMAL(12,2) 
		END

		--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
		-- Ahora preparar y agregar las columnas adicionales DESPUÉS de Total_Percepcion
		SET @i = 0
		SET @lvColAdicional = ''
		SET @lvRegAdicional = ''
		SET @lvTotAdicional = ''
		--------------------------
		SET @lvTotde = ''

		WHILE @i < @k
		BEGIN
			SET @i = @i + 1
			-- Obtener DIP adicional a procesar
			SELECT @lvTemp = clv_dip, @lvTemp1 = nom_dip ,@lvTempd = clv_dip, @lvTemp1d = nom_dip
			FROM #tblDipsAdicionales
			WHERE consec = @i

			-- Obtener Columnas adicionales (usando QUOTENAME)
			SELECT @lvColAdicional = @lvColAdicional +
			QUOTENAME(@lvTemp + '-' + @lvTemp1 + '-IMP') + ' DECIMAL(12,2), ' 
			-- Obtener Registros adicionales (usando QUOTENAME)
			SELECT @lvRegAdicional = @lvRegAdicional + 
			'ISNULL(SUM(CASE WHEN clv_dip = ''' + @lvTemp + ''' THEN imp END),0) AS ' + QUOTENAME(@lvTemp + '-' + @lvTemp1 + '-IMP') + ',' 

			-- Acumular para el total adicional
			SELECT @lvTotAdicional = @lvTotAdicional + QUOTENAME(@lvTemp + '-' + @lvTemp1 + '-IMP') + ' + '
		END

		-- Eliminar el último caracter de las variables adicionales
		IF LEN(@lvColAdicional) > 0 
			SET @lvColAdicional = SUBSTRING(@lvColAdicional,1,LEN(@lvColAdicional)-1)
		IF LEN(@lvRegAdicional) > 0 
			SET @lvRegAdicional = SUBSTRING(@lvRegAdicional,1,LEN(@lvRegAdicional)-1)
		IF LEN(@lvTotAdicional) > 0
			SET @lvTotAdicional = SUBSTRING(@lvTotAdicional,1,LEN(@lvTotAdicional)-1) 
		-------------------------------------------------------------------------------

		-- Agregar columnas adicionales después de Total_Percepcion
		IF LEN(@lvColAdicional) > 0
		BEGIN
			SET @lvSQL = 'ALTER TABLE #tblBase ADD ' + @lvColAdicional
			EXEC(@lvSQL)
    
			-- Actualizar los valores en las columnas adicionales
			SET @lvSQL = 'UPDATE b SET '
    
			SET @i = 0
			WHILE @i < @k
			BEGIN
				SET @i = @i + 1
				SELECT @lvTemp = clv_dip, @lvTemp1 = nom_dip ,@lvTempd = clv_dip, @lvTemp1d = nom_dip
				FROM #tblDipsAdicionales
				WHERE consec = @i
        
				IF @i > 1 SET @lvSQL = @lvSQL + ', '
				SET @lvSQL = @lvSQL + 'b.' + QUOTENAME(@lvTemp + '-' + @lvTemp1 + '-IMP') + ' = a.' + QUOTENAME(@lvTemp + '-' + @lvTemp1 + '-IMP')
			END
    
			SET @lvSQL = @lvSQL + ' FROM #tblBase b
							INNER JOIN (
								SELECT num_emp, nomp_emp, ' + 
								@lvRegAdicional + '
								FROM #tblPrc
								GROUP BY  num_emp, nomp_emp
							) a ON 
							b.num_emp = a.num_emp AND 
							b.nomp_emp = a.nomp_emp '
                
			EXEC(@lvSQL)

			ALTER TABLE #tblBase ADD TOTAL_IMP_DEDUCCIONES DECIMAL(12,2)
			IF LEN(@lvTotAdicional) > 0
			BEGIN
				SET @lvSQL = 'UPDATE #tblBase SET TOTAL_IMP_DEDUCCIONES = ' + @lvTotAdicional
				EXEC(@lvSQL)
			END

       --------------------------------------------------------------------------------------------------------------
		-- NETO
		SET @i = 0
		SET @lvColAdicional2 = ''
		SET @lvRegAdicional2 = ''
		SET @lvTote = ''
		SET @lvTotes= ''

		WHILE @i < @n
		BEGIN
			SET @i = @i + 1
			-- Obtener DIP adicional a procesar
			SELECT @lvTemp = clv_dip, @lvTemp1 = nom_dip 
			FROM #tblDipsAdicionales2
			WHERE consec = @i

			-- Obtener Columnas adicionales (usando QUOTENAME)
			SELECT @lvColAdicional2 = @lvColAdicional2 + 
			QUOTENAME(@lvTemp + '-' + @lvTemp1 + '-IMP') + ' DECIMAL(12,2),' 

			-- Obtener Registros adicionales (usando QUOTENAME)
			SELECT @lvRegAdicional2 = @lvRegAdicional2 +
			'ISNULL(SUM(CASE WHEN clv_dip = ''' + @lvTemp + ''' THEN imp END),0) AS ' + QUOTENAME(@lvTemp + '-IMP') + ','

			SELECT @lvTotes = @lvTotes + QUOTENAME(@lvTemp + '-' + @lvTemp1 + '-IMP') + ' + '
		END

		-- Eliminar el último caracter de las variables adicionales
		IF LEN(@lvColAdicional2) > 0 
			SET @lvColAdicional2 = SUBSTRING(@lvColAdicional2,1,LEN(@lvColAdicional2)-1)
		IF LEN(@lvRegAdicional2) > 0 
			SET @lvRegAdicional2 = SUBSTRING(@lvRegAdicional2,1,LEN(@lvRegAdicional2)-1)
		----------------------------------------------------------------------------------------------
		IF LEN(@lvTotes) > 0 SET @lvTotes = SUBSTRING(@lvTotes,1,LEN(@lvTotes)-1)

		-- Agregar columnas adicionales después de Total_Percepcion
		IF LEN(@lvColAdicional2) > 0
		BEGIN
			SET @lvSQL = 'ALTER TABLE #tblBase ADD ' + @lvColAdicional2
			EXEC(@lvSQL)

			-- Actualizar los valores en las columnas adicionales
			SET @lvSQL = 'UPDATE d SET '
			SET @i = 0
			WHILE @i < @n
			BEGIN
				SET @i = @i + 1
				SELECT @lvTemp = clv_dip, @lvTemp1 = nom_dip 
				FROM #tblDipsAdicionales2
				WHERE consec = @i
        
				IF @i > 1 SET @lvSQL = @lvSQL + ', '
				SET @lvSQL = @lvSQL + ' d.' + QUOTENAME(@lvTemp + '-' + @lvTemp1+ '-IMP') + ' = a.' + QUOTENAME(@lvTemp+ '-IMP')
			END
    
			SET @lvSQL = @lvSQL + ' FROM #tblBase d
							INNER JOIN (
								SELECT num_emp, nomp_emp, ' + 
								@lvRegAdicional2 + '
								FROM #tblPrc
								GROUP BY num_emp, nomp_emp
							) a ON 
							d.num_emp = a.num_emp AND 
							d.nomp_emp = a.nomp_emp '
    
			EXEC(@lvSQL)


      		ALTER TABLE #tblBase ADD TOTAL_EFECTIVO DECIMAL(12,2)
			IF LEN(@lvTotes) > 0
			BEGIN
				SET @lvSQL = 'UPDATE #tblBase SET TOTAL_EFECTIVO = ' + @lvTotes
				EXEC(@lvSQL)
			END
		END


		-- Identificadores de los que queremos sumar
		DECLARE @sumarDips TABLE (clv_dip VARCHAR(20), nom_dip VARCHAR(100))

		INSERT INTO @sumarDips VALUES ('VALX', 'VALES DESPENSA TOTALES')
		INSERT INTO @sumarDips VALUES ('VGAS', 'VALES DE GASOLINA')

		-- Construir la suma dinámica solo con columnas existentes
		DECLARE @sumaExpr NVARCHAR(MAX) = ''

		SELECT @sumaExpr = @sumaExpr + 
			'+ ISNULL(' + QUOTENAME(clv_dip + '-' + nom_dip + '-IMP') + ', 0)'
		FROM @sumarDips
		WHERE EXISTS (
			SELECT 1
			FROM tempdb.sys.columns c
			WHERE c.object_id = OBJECT_ID('tempdb..#tblBase')
			AND c.name = clv_dip + '-' + nom_dip + '-IMP'
		)

		-- Si no existe ninguna columna, poner 0
		IF @sumaExpr = ''
			SET @sumaExpr = '0'
		ELSE
			SET @sumaExpr = STUFF(@sumaExpr, 1, 1, '')

		ALTER TABLE #tblBase 
		ADD TOTAL_EN_ESPECIE DECIMAL(12,2)

		SET @lvSQL = '
		UPDATE #tblBase
		SET TOTAL_EN_ESPECIE = ' + @sumaExpr

		EXEC(@lvSQL)

		-- Sumar TOTAL_EFECTIVO + TOTAL_EN_ESPECIE
		ALTER TABLE #tblBase ADD NETO_PAGADO DECIMAL(12,2)

		SET @lvSQL = '
		UPDATE #tblBase
		SET NETO_PAGADO = ISNULL(TOTAL_EFECTIVO, 0) + ISNULL(TOTAL_EN_ESPECIE, 0)
		'

		EXEC(@lvSQL)

		END

		---------------------------------------------------------
		-- 1. Primero obtenemos los nombres de todas las columnas numéricas después de las 13 fijas
		 DECLARE @tblcolumnasNumericas TABLE (nombreColumna NVARCHAR(128));


		INSERT INTO @tblcolumnasNumericas
		SELECT name
		FROM tempdb.sys.columns c
		WHERE object_id = OBJECT_ID('tempdb..#tblBase')
		AND column_id > 2  -- Saltamos las 13 columnas fijas
		AND system_type_id IN (48, 52, 56, 59, 60, 62, 106, 108, 122, 127)  -- Tipos numéricos
		ORDER BY column_id;

		-- 2. Construimos la parte de las sumas dinámicamente
		SELECT @lvsqlSumas = @lvsqlSumas + ', SUM(' + QUOTENAME(nombreColumna) + ') AS ' + QUOTENAME(nombreColumna)
		FROM @tblcolumnasNumericas;

		-- 3. Generamos el INSERT del TOTAL GENERAL con las sumas calculadas
		SET @lvsql = '
		INSERT INTO #tblBase
		SELECT 
			'''',              -- num_emp
			''TOTAL GENERAL''' -- nomp_emp
			+ @lvsqlSumas + '
		FROM #tblBase
		WHERE num_emp <> '''' AND num_emp <> ''TOTAL GENERAL''';

		EXEC(@lvsql);

		--select * from #tblBase a
		--		ORDER BY 
		--	CASE WHEN a.num_emp = '' AND a.nomp_emp = 'TOTAL GENERAL' THEN 1 ELSE 0 END,
		--	a.num_emp

		SELECT a.* ,
			 b.CCOSTO, 
			 c.NOM_CCOSTO,
			 b.PUESTO, 
			 d.NOM_PUESTO,
			 e.NOMBRE,
			 b.SAL_DIARIO, 
			 b.SAL_DIA_INT
		FROM #tblBase a 
		LEFT JOIN an_emp b ON a.num_emp = b.num_emp 
		LEFT JOIN an_tab_ccosto c ON b.ccosto = c.ccosto
		LEFT JOIN an_tab_puest d ON b.puesto = d.puesto
		LEFT JOIN an_recintos e ON b.recinto = e.recinto 
		ORDER BY 
			CASE WHEN a.num_emp = '' AND a.nomp_emp = 'TOTAL GENERAL' THEN 1 ELSE 0 END,
			a.num_emp

		-- Al final del procedimiento, después de tener #tblBase completamente poblada


   --------------------------------------------------------------------------------------------------------------------------------
   --------------------------------------------------------------------------------------------------------------------------------
   ------------------------------------------SEGUNDO REPORTE-----------------------------------------------------------------------
   --------------------------------------------------------------------------------------------------------------------------------
   --------------------------------------------------------------------------------------------------------------------------------
   		SELECT @j = COUNT(*) FROM #tblDipsPrc
		SELECT @k = COUNT(*) FROM #tblDipsAdicionales
		-- Resetear variables
		SET @i = 0
		SET @lvCol = ''
		SET @lvReg = ''
		SET @lvTot = ''
		-----------------------------
		SET @lvCold = ''
		SET @lvRegd = ''
		SET @lvTotd = ''

		IF @j > 0 AND EXISTS (SELECT 1 FROM #tblDipsPrc)
		BEGIN
		-- Preparar variables dinámicas para el reporte (DIPs principales)
		WHILE @i < @j
		BEGIN
			SET @i = @i + 1
			-- Obtener DIP a procesar
			SELECT @lvTemp = clv_dip, @lvTemp1 = nom_dip ,@lvTempd = clv_dip, @lvTemp1d = nom_dip
			FROM #tblDipsPrc
			WHERE consec = @i

			-- Obtener Columnas (usando QUOTENAME para manejar caracteres especiales)
			SELECT @lvCol = @lvCol +
				QUOTENAME(@lvTemp + '-' + @lvTemp1 + '-IMP') + ' DECIMAL(12,2), '

			-- Obtener Registros (usando QUOTENAME para manejar caracteres especiales)
			SELECT @lvReg = @lvReg + 
			'ISNULL(SUM(CASE WHEN clv_dip = ''' + @lvTemp + ''' THEN imp END), 0) AS ' + QUOTENAME(@lvTemp + '-' + @lvTemp1 + '-IMP') + ','

			 --Obtener Totales (usando QUOTENAME para manejar caracteres especiales)
			SELECT @lvTotd = @lvTotd + QUOTENAME(@lvTemp + '-' + @lvTemp1 + '-IMP') + ' + ' 
		END

		-- Eliminar el último caracter de las variables de trabajo
		IF LEN(@lvCol) > 0 SET @lvCol = SUBSTRING(@lvCol,1,LEN(@lvCol)-1)
		IF LEN(@lvReg) > 0 SET @lvReg = SUBSTRING(@lvReg,1,LEN(@lvReg)-1)
		IF LEN(@lvTot) > 0 SET @lvTot = SUBSTRING(@lvTot,1,LEN(@lvTot)-1)
		--------------------------------------------------------------------
		IF LEN(@lvCold) > 0 SET @lvCold = SUBSTRING(@lvCold,1,LEN(@lvCold)-1)
		IF LEN(@lvRegd) > 0 SET @lvRegd = SUBSTRING(@lvRegd,1,LEN(@lvRegd)-1)
		IF LEN(@lvTotd) > 0 SET @lvTotd = SUBSTRING(@lvTotd,1,LEN(@lvTotd)-1)
		---------------------------------------------------------------------

		-- Modificar Tabla de trabajo con campos dinámicos (principales y datos adicionales)
		IF LEN(@lvCol) > 0 OR LEN(@lvCold) > 0 
		BEGIN
			-- Construye la sentencia ALTER TABLE con todas las columnas
			SET @lvSQL = 'ALTER TABLE #tblBaseDet1 ADD ' 
    
			-- Agrega @lvCol si tiene contenido
			IF LEN(@lvCol) > 0 
				SET @lvSQL = @lvSQL + @lvCol
    
			-- Agrega @lvCold si tiene contenido (con coma si ya hay columnas)
			IF LEN(@lvCold) > 0 
			BEGIN
				IF LEN(@lvCol) > 0 
					SET @lvSQL = @lvSQL + ', ' -- Agrega coma si ya hay columnas
				SET @lvSQL = @lvSQL + @lvCold
			END
    
			-- Ejecuta el ALTER TABLE
			EXEC(@lvSQL)
		END

		-- Obtener registros (solo principales por ahora)
		SET @lvSQL = ' INSERT INTO #tblBaseDet1
			SELECT ccosto, nom_ccosto, ' + 
			@lvReg +
			'
			FROM #tblPrcdet1 
			GROUP BY ccosto, nom_ccosto'

		EXEC(@lvSQL)



		-- Agregar y calcular el total de percepciones (solo para los DIPs principales)
		ALTER TABLE #tblBaseDet1 ADD TOTAL_IMP_PERCEPCIONES DECIMAL(12,2) 
		IF LEN(@lvTotd) > 0
		BEGIN
			SET @lvSQL = 'UPDATE #tblBaseDet1 SET TOTAL_IMP_PERCEPCIONES = ' + @lvTotd
			EXEC(@lvSQL)
		END
		END
		ELSE
		BEGIN
			-- Si no hay DIPs principales, insertar datos básicos sin columnas dinámicas
			SET @lvSQL = ' INSERT INTO #tblBaseDet1
				SELECT ccosto, nom_ccosto
				FROM #tblPrcdet1
				GROUP BY ccosto, nom_ccosto'
			EXEC(@lvSQL)
    
			-- Agregar las columnas de totales aunque estén en cero
			ALTER TABLE #tblBaseDet1 ADD TOTAL_IMP_PERCEPCIONES DECIMAL(12,2) 
			UPDATE #tblBaseDet1 SET  TOTAL_IMP_PERCEPCIONES = 0
		END

		--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
		-- Ahora preparar y agregar las columnas adicionales DESPUÉS de Total_Percepcion
		SET @i = 0
		SET @lvColAdicional = ''
		SET @lvRegAdicional = ''
		SET @lvTotAdicional = ''
		--------------------------
		SET @lvTotde = ''

		WHILE @i < @k
		BEGIN
			SET @i = @i + 1
			-- Obtener DIP adicional a procesar
			SELECT @lvTemp = clv_dip, @lvTemp1 = nom_dip ,@lvTempd = clv_dip, @lvTemp1d = nom_dip
			FROM #tblDipsAdicionales
			WHERE consec = @i

			-- Obtener Columnas adicionales (usando QUOTENAME)
			SELECT @lvColAdicional = @lvColAdicional +
			QUOTENAME(@lvTemp + '-' + @lvTemp1 + '-IMP') + ' DECIMAL(12,2), ' 

			-- Obtener Registros adicionales (usando QUOTENAME)
			SELECT @lvRegAdicional = @lvRegAdicional + 
			'ISNULL(SUM(CASE WHEN clv_dip = ''' + @lvTemp + ''' THEN imp END),0) AS ' + QUOTENAME(@lvTemp + '-' + @lvTemp1 + '-IMP') + ',' 

			-- Acumular para el total adicional
			SELECT @lvTotAdicional = @lvTotAdicional + QUOTENAME(@lvTemp + '-' + @lvTemp1 + '-IMP') + ' + '
		END

		-- Eliminar el último caracter de las variables adicionales
		IF LEN(@lvColAdicional) > 0 
			SET @lvColAdicional = SUBSTRING(@lvColAdicional,1,LEN(@lvColAdicional)-1)
		IF LEN(@lvRegAdicional) > 0 
			SET @lvRegAdicional = SUBSTRING(@lvRegAdicional,1,LEN(@lvRegAdicional)-1)
		IF LEN(@lvTotAdicional) > 0
			SET @lvTotAdicional = SUBSTRING(@lvTotAdicional,1,LEN(@lvTotAdicional)-1) 
		-------------------------------------------------------------------------------
		-- Agregar columnas adicionales después de Total_Percepcion
		IF LEN(@lvColAdicional) > 0
		BEGIN
			SET @lvSQL = 'ALTER TABLE #tblBaseDet1 ADD ' + @lvColAdicional
			EXEC(@lvSQL)
    
			-- Actualizar los valores en las columnas adicionales
			SET @lvSQL = 'UPDATE b SET '
    
			SET @i = 0
			WHILE @i < @k
			BEGIN
				SET @i = @i + 1
				SELECT @lvTemp = clv_dip, @lvTemp1 = nom_dip 
				FROM #tblDipsAdicionales
				WHERE consec = @i
        
				IF @i > 1 SET @lvSQL = @lvSQL + ', '
				SET @lvSQL = @lvSQL + 'b.' + QUOTENAME(@lvTemp + '-' + @lvTemp1 + '-IMP') + ' = a.' + QUOTENAME(@lvTemp + '-' + @lvTemp1 + '-IMP')
			END
    
			SET @lvSQL = @lvSQL + ' FROM #tblBaseDet1 b
							INNER JOIN (
								SELECT ccosto, nom_ccosto, ' + 
								@lvRegAdicional + '
								FROM #tblPrcdet1
								GROUP BY  ccosto, nom_ccosto
							) a ON 
							b.ccosto = a.ccosto AND 
							b.nom_ccosto = a.nom_ccosto '
                
			EXEC(@lvSQL)



			-- Agregar y calcular el total de percepciones (solo para los DIPs principales)

			ALTER TABLE #tblBaseDet1 ADD TOTAL_IMP_DEDUCCIONES DECIMAL(12,2)
			IF LEN(@lvTotAdicional) > 0
			BEGIN
				SET @lvSQL = 'UPDATE #tblBaseDet1 SET TOTAL_IMP_DEDUCCIONES = ' + @lvTotAdicional
				EXEC(@lvSQL)
			END


	    --------------------------------------------------------------------------------------------------------------
		-- NETO
		SET @i = 0
		SET @lvColAdicional2 = ''
		SET @lvRegAdicional2 = ''
		SET @lvTote = ''
		SET @lvTotes= ''

		WHILE @i < @n
		BEGIN
			SET @i = @i + 1
			-- Obtener DIP adicional a procesar
			SELECT @lvTemp = clv_dip, @lvTemp1 = nom_dip 
			FROM #tblDipsAdicionales2
			WHERE consec = @i

			-- Obtener Columnas adicionales (usando QUOTENAME)
			SELECT @lvColAdicional2 = @lvColAdicional2 + 
			QUOTENAME(@lvTemp + '-' + @lvTemp1 + '-IMP') + ' DECIMAL(12,2),' 

			-- Obtener Registros adicionales (usando QUOTENAME)
			SELECT @lvRegAdicional2 = @lvRegAdicional2 +
			'ISNULL(SUM(CASE WHEN clv_dip = ''' + @lvTemp + ''' THEN imp END),0) AS ' + QUOTENAME(@lvTemp + '-IMP') + ','

			SELECT @lvTotes = @lvTotes + QUOTENAME(@lvTemp + '-' + @lvTemp1 + '-IMP') + ' + '
		END

		-- Eliminar el último caracter de las variables adicionales
		IF LEN(@lvColAdicional2) > 0 
			SET @lvColAdicional2 = SUBSTRING(@lvColAdicional2,1,LEN(@lvColAdicional2)-1)
		IF LEN(@lvRegAdicional2) > 0 
			SET @lvRegAdicional2 = SUBSTRING(@lvRegAdicional2,1,LEN(@lvRegAdicional2)-1)
		----------------------------------------------------------------------------------------------
		IF LEN(@lvTotes) > 0 SET @lvTotes = SUBSTRING(@lvTotes,1,LEN(@lvTotes)-1)

		-- Agregar columnas adicionales después de Total_Percepcion
		IF LEN(@lvColAdicional2) > 0
		BEGIN
			SET @lvSQL = 'ALTER TABLE #tblBaseDet1 ADD ' + @lvColAdicional2
			EXEC(@lvSQL)

			-- Actualizar los valores en las columnas adicionales
			SET @lvSQL = 'UPDATE d SET '
			SET @i = 0
			WHILE @i < @n
			BEGIN
				SET @i = @i + 1
				SELECT @lvTemp = clv_dip, @lvTemp1 = nom_dip 
				FROM #tblDipsAdicionales2
				WHERE consec = @i
        
				IF @i > 1 SET @lvSQL = @lvSQL + ', '
				SET @lvSQL = @lvSQL + ' d.' + QUOTENAME(@lvTemp + '-' + @lvTemp1+ '-IMP') + ' = a.' + QUOTENAME(@lvTemp+ '-IMP')
			END
    
			SET @lvSQL = @lvSQL + ' FROM #tblBaseDet1 d
							INNER JOIN (
								SELECT ccosto, nom_ccosto, ' + 
								@lvRegAdicional2 + '
							    FROM #tblPrcdet1
								GROUP BY  ccosto, nom_ccosto
							) a ON 
							d.ccosto = a.ccosto AND 
							d.nom_ccosto = a.nom_ccosto '
    
			EXEC(@lvSQL)


      		ALTER TABLE #tblBaseDet1 ADD TOTAL_EFECTIVO DECIMAL(12,2)
			IF LEN(@lvTotes) > 0
			BEGIN
				SET @lvSQL = 'UPDATE #tblBaseDet1 SET TOTAL_EFECTIVO = ' + @lvTotes
				EXEC(@lvSQL)
			END
		END

		  
		-- Identificadores de los que queremos sumar
		DECLARE @sumarDipsdet1 TABLE (clv_dip VARCHAR(20), nom_dip VARCHAR(100))

		INSERT INTO @sumarDipsdet1 VALUES ('VALX', 'VALES DESPENSA TOTALES')
		INSERT INTO @sumarDipsdet1 VALUES ('VGAS', 'VALES DE GASOLINA')

		-- Construir la suma dinámica solo con columnas existentes
		DECLARE @sumaExprdet1 NVARCHAR(MAX) = ''

		SELECT @sumaExprdet1 = @sumaExprdet1 + 
			'+ ISNULL(' + QUOTENAME(clv_dip + '-' + nom_dip + '-IMP') + ', 0)'
		FROM @sumarDipsdet1
		WHERE EXISTS (
			SELECT 1
			FROM tempdb.sys.columns c
			WHERE c.object_id = OBJECT_ID('tempdb..#tblBaseDet1')
			AND c.name = clv_dip + '-' + nom_dip + '-IMP'
		)

		-- Si no existe ninguna columna, poner 0
		IF @sumaExprdet1 = ''
			SET @sumaExprdet1 = '0'
		ELSE
			SET @sumaExprdet1 = STUFF(@sumaExprdet1, 1, 1, '')

		ALTER TABLE #tblBaseDet1 
		ADD TOTAL_EN_ESPECIE DECIMAL(12,2)

		SET @lvSQL = '
		UPDATE #tblBaseDet1
		SET TOTAL_EN_ESPECIE = ' + @sumaExprdet1

		EXEC(@lvSQL)

		-- Sumar TOTAL_EFECTIVO + TOTAL_EN_ESPECIE
		ALTER TABLE #tblBaseDet1 ADD NETO_PAGADO DECIMAL(12,2)

		SET @lvSQL = '
		UPDATE #tblBaseDet1 
		SET NETO_PAGADO = ISNULL(TOTAL_EFECTIVO, 0) + ISNULL(TOTAL_EN_ESPECIE, 0)
		'

		EXEC(@lvSQL)


		END

		---------------------------------------------------------
		-- 1. Primero obtenemos los nombres de todas las columnas numéricas después de las 13 fijas
		 DECLARE @tblcolumnasNumericasdet1 TABLE (nombreColumna NVARCHAR(128));


		INSERT INTO @tblcolumnasNumericasdet1
		SELECT name
		FROM tempdb.sys.columns c
		WHERE object_id = OBJECT_ID('tempdb..#tblBaseDet1')
		AND column_id > 2  -- Saltamos las 13 columnas fijas
		AND system_type_id IN (48, 52, 56, 59, 60, 62, 106, 108, 122, 127)  -- Tipos numéricos
		ORDER BY column_id;

		-- 2. Construimos la parte de las sumas dinámicamente
		SELECT @lvsqlSumasdet1 = @lvsqlSumasdet1 + ', SUM(' + QUOTENAME(nombreColumna) + ') AS ' + QUOTENAME(nombreColumna)
		FROM @tblcolumnasNumericasdet1;

		-- 3. Generamos el INSERT del TOTAL GENERAL con las sumas calculadas
		SET @lvsql = '
		INSERT INTO #tblBaseDet1
		SELECT 
			'''',              -- num_emp
			''TOTAL GENERAL''' -- nomp_emp
			+ @lvsqlSumasdet1 + '
		FROM #tblBaseDet1
		WHERE ccosto <> '''' AND ccosto <> ''TOTAL GENERAL''';

		EXEC(@lvsql);




		-- ============================================================
		-- 1. Obtener columnas numéricas de #tblBaseDet1 (después de ccosto y nom_ccosto)
	DECLARE @colsDif NVARCHAR(MAX) = '';

	SELECT @colsDif = @colsDif + 
		', (ISNULL(DET1.' + QUOTENAME(c.name) + ', 0) - ISNULL(BASE.' + QUOTENAME(c.name) + ', 0)) AS ' + QUOTENAME(c.name)
	FROM tempdb.sys.columns c
	WHERE c.object_id = OBJECT_ID('tempdb..#tblBaseDet1')
	  AND c.column_id > 2   -- Saltamos ccosto y nom_ccosto
	  AND c.system_type_id IN (48,52,56,59,60,62,106,108,122,127)
	ORDER BY c.column_id;

	-- 2. Lista de columnas numéricas para el INSERT
	DECLARE @listaColumnasNum NVARCHAR(MAX) = STUFF((
		SELECT ',' + QUOTENAME(c.name)
		FROM tempdb.sys.columns c
		WHERE c.object_id = OBJECT_ID('tempdb..#tblBaseDet1')
		  AND c.column_id > 2
		ORDER BY c.column_id
		FOR XML PATH('')), 1, 1, '');

	-- 3. Insertar la fila de diferencia (usando nom_ccosto para identificar TOTAL GENERAL)
	DECLARE @sqlDif NVARCHAR(MAX) = '
	INSERT INTO #tblBaseDet1 (ccosto, nom_ccosto' + IIF(@listaColumnasNum = '', '', ',' + @listaColumnasNum) + ')
	SELECT 
		'''' AS ccosto,
		''DIFERENCIA (EMP - CCOSTO)'' AS nom_ccosto'
		+ @colsDif + '
	FROM 
		(SELECT * FROM #tblBaseDet1 WHERE nom_ccosto = ''TOTAL GENERAL'') DET1
		CROSS JOIN
		(SELECT * FROM #tblBase WHERE nomp_emp = ''TOTAL GENERAL'') BASE
	';

	EXEC(@sqlDif);

	-- 4. Ver resultado
	SELECT * FROM #tblBaseDet1
	--ORDER BY 
	--	CASE WHEN nom_ccosto IN ('TOTAL GENERAL', 'DIFERENCIA (EMP - CCOSTO') THEN 1 ELSE 0 END,
	--	ccosto;




END



